body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100svh;
}

.mainMenu{
    display: flex;
    margin: 0;
    border: 1px solid #141414;
    border-radius: 10px;
    width: 40rem;
    justify-content: space-around;
    align-items: center;
    height: 20em;

    button{
        max-height: 2.5rem;
        height: 100%;
        border: none;
        max-width: 14em;
        width: 100%;
        border-radius: 10px;
    }
}

table{
    border: 1px solid #161616;
    border-collapse: collapse;

    thead th select{
        width: 100%;
    }

    tr{
        border: 1px solid #161616;

        .celdButton{
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-around;
            align-items: center;
            border: none;
            gap: 2px;
            
            button{
                width: 30px;
                height: 30px;
                border: 1px solid #161616;
                cursor: pointer;
                background-color: #ffffff00;
                border-radius: 50%;
            }
        }

        td{
            border: 1px solid #141414;
            width: 6rem;
            text-align: center;
        }
    }
}

.sortedButtons{
    text-decoration: solid;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}
