*{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100svh;
}

.backButton{
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 0 5% 0;
    cursor: pointer;
}

.mainMenu{
    display: grid;
    margin: 0;
    border: 1px solid #141414;
    border-radius: 10px;
    width: 40rem;
    justify-content: space-around;
    align-items: top;
    place-items: center;
    height: auto;

    .mainButtons{     
        display: flex;
        justify-content: space-around;
        gap: 2rem;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-top: 20%;
        margin-bottom: 0;
        
        button{
            max-height: 3rem;
            height: 100%;
            border: none;
            max-width: 15em;
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
            outline: none;
    
            &:hover, &:focus{
                background-color: #cacaca;
            }
        }
    }

    
}

.loadProducts{
    display: grid;
    gap: 10px;

    .backButton{
        max-width: 5rem;
    }

    .loadProductsInfo{
        display: grid;
        gap: 10px;

        input{
            min-width: 15rem;
            width: 100%;
            height: 2em;
            outline: none;
        }
    }

    #load{
        max-width: 14rem;
        width: 100%;
        height: 2rem;
        margin: 0 auto;
        outline: none;
    }

    select{
        outline: none;
    }
}

.loadRubs{
    display: flex;
    flex-direction: column;
    gap: 10px;

    input{
        min-width: 15rem;
        width: 100%;
        height: 2em;

        &:focus{
            outline: none;
        }
    }
}

.sortedButtons{
    text-decoration: solid;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    margin: 5% 0;
}

thead{
    height: fit-content;
    th{
    background-color: #99d811;
    height: 2em;
    
        select{
            text-align: center;
            color: #303030;
            text-align: center;
            background-color: #8ebe4e;
            cursor: pointer;
            border: none;
            height: 100%;
            width: 100%;
            margin: 0;
            border: none;
            outline: none;
        }
    }
}


tr{
    border: none;
    background-color: #fff;
    .celdButton{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        border: none;
        gap: 2px;
        
        button{
            width: 30px;
            height: 30px;
            margin: 0 auto;
            border: 1px solid #161616;
            cursor: pointer;
            background-color: #ffffff00;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                background-color: #c7c7c7;
            }
        }
    }

    &:nth-child(odd){
        background-color: #eeeeee9f;
    }
}

tr:hover, td:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}

td{
    width: 6rem;
    text-align: center;
    place-content: center;
    place-items: center;
}

