:root{
    --bgButtonColor: #33fe30ad; 
    --bgHoverColor: #33fe30cc;
    --boxShColor: #3ee100;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100svh;
    background: linear-gradient(45deg, #202020 0%, #525252 100%);
    margin: 0;
    padding: 0;
}

.title{
    position: absolute;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
    padding-top: 0;
    color: #fff;
    top: 8vh;
    left: 0;
    right: 0;
}

.backButton{
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0 0 5% 0;
    cursor: pointer;
    background: var(--bgButtonColor);
    transition: background-color .3s ease-in-out;

    &:hover{
        background-color: var(--bgHoverColor); 
    }
}

.mainMenu{
    display: grid;
    margin: 0;
    border-radius: 20px;
    width: 40rem;
    min-height: 10dvh;
    max-height: 70dvh;
    height: 100%;
    overflow-y: scroll;
    justify-content: space-around;
    align-items: top;
    place-items: center;
    background: #fff;

    .mainButtons{     
        display: flex;
        flex-wrap: wrap;
        flex-grow: 2;
        flex-basis: 40px;
        justify-content: space-around;
        gap: 2rem;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-top: 20%;
        margin-bottom: 0;
        
        button{
            max-height: 3rem;
            max-width: 15em;
            height: 100%;
            border: none;
            background-color: var(--bgButtonColor);
            width: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: box-shadow .2s ease-in-out,
                translate .2s ease-in-out,
                background-color .1s ease-in-out;
            outline: none;
            box-shadow: var(--boxShColor) 4px 4px 1px;
    
            &:hover{
                box-shadow: var(--boxShColor) 4px 4px 3px;
                background-color: var(--bgHoverColor);

            }

            &:active{
                box-shadow: var(--boxShColor) 0 0 10px;
                translate: 4px 4px;
            }
        }
    } 
}


.loadProducts{
    display: grid;
    gap: 10px;
    background: #fff;
    border-radius: 10px;
    width: 20rem;
    height: auto;
    padding: 20px;

    .backButton{
        max-width: 5rem;
    }

    .loadProductsInfo{
        display: grid;
        gap: 8px;

        input{
            min-width: 15rem;
            width: 100%;
            height: 2em;
            outline: none;
            padding-inline: 15px;
            padding-block: 3px;
            border-radius: 1.5cap;
            border: .5px solid #0000005d;
            margin-bottom: 14px;
        }

        .labelOfProducts{
            margin: 0;
            padding: 0;
        }
    }

    #load{
        max-width: 14rem;
        width: 100%;
        height: 3rem;
        margin: 0 auto;
        outline: none;
        padding-inline: 15px;
        padding-block: 3px;
        border-radius: 1.5cap;
        border: none;
        margin-bottom: 14px;
        cursor: pointer;
        box-shadow: var(--boxShColor) 4px 4px 1px;
        background-color: var(--bgButtonColor);
        transition: box-shadow .2s ease-in-out,
            translate .2s ease-in-out,
            background-color .1s ease-in-out;

        &:hover, &:focus{
            background-color: var(--bgHoverColor);
            box-shadow: var(--boxShColor) 4px 4px 3px;
        }

        &:active{
            box-shadow: var(--boxShColor) 0 0 1px;
            translate: 4px 4px;
        }
    }

    select{
        outline: none;
        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 1.5cap;
        border: .5px solid #0000005d;
        margin-bottom: 14px;
    }
}

.loadRubs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 20rem;
    height: auto;
    padding: 20px;
    
    input{
        min-width: 15rem;
        width: 100%;
        height: 2em;
        padding-inline: 15px;
        padding-block: 3px;
        border-radius: 1.5cap;
        border: .5px solid #0000005d;
        margin-bottom: 14px;

        &:focus{
            outline: none;
        }
    }
    
    #loadRubro{
        border-radius: 10px;
        border: none;
        cursor: pointer;
        align-self: center;
        height: 2rem;
        width: fit-content;
        transition: background-color .3s ease-in-out;
        padding-inline: 20px;
        background-color: var(--bgButtonColor);
        box-shadow: var(--boxShColor) 4px 4px 1px;
        transition: box-shadow .2s ease-in-out,
            translate .2s ease-in-out,
            background-color .1s ease-in-out;

        &:hover{
            background-color: var(--bgHoverColor);
            box-shadow: var(--boxShColor) 4px 4px 3px;
        }

        &:active{
            translate: 4px 4px;
            box-shadow: var(--boxShColor) 0 0 10px;
        }
    }
}

.sortedButtons{
    text-decoration: solid;
    font-weight: 600;
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin: 0 auto;
    text-align: center;
    
    span{
        .normal{
            padding-left: 3px;
            width: .5rem;
            height: .5rem;
            animation: to-normal-state .2s ease-in-out;
        }
        
        .rotaded{
            padding-left: 3px;
            width: .5rem;
            height: .5rem;
            animation: rotate-animation .2s ease-in-out;
            transform: rotate(180deg);
        }
    }
}

@keyframes rotate-animation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes to-normal-state {
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}

table{
    border-collapse: collapse;
    margin: 5% 0;
}

thead{
    height: fit-content;

    th{
        background-color: #49d811;
        height: 2em;
        padding-inline: auto;
        margin-inline: auto;
        text-align: center;
    
        select{
            font-weight: 600;
            text-align: center;
            color: #000;
            text-align: center;
            background-color: #5ea74c;
            cursor: pointer;
            border: none;
            height: 100%;
            width: 100%;
            margin: 0;
            border: none;
            outline: none;
        }
    }
}


tr{
    border: none;
    background-color: #fff; 

    .celdButton{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        border: none;
        gap: 2px;
        
        button{
            width: 30px;
            height: 30px;
            margin: 0 auto;
            border: 1px solid #161616;
            cursor: pointer;
            background-color: #ffffff00;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                background-color: #c7c7c7;
            }
        }
    }

    .celdRubButton{
        border: none;
        gap: 2px;
        
        button{
            width: 30px;
            height: 30px;
            margin: 0;
            border: 1px solid #161616;
            cursor: pointer;
            background-color: #ffffff00;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                background-color: #c7c7c7;
            }
        }
    }

    &:nth-child(2n + 2){
        background-color: #e7e7e7b0;
    }
}

tr:hover, td:hover{
    cursor: pointer;
    background-color: #e9e9e9;
}

td{
    width: 6rem;
    text-align: center;
    place-content: center;
    place-items: center;
}

dialog[open]{
    scale: 1;
    height: 45dvh;
    width: 45dvh;
    border: none;
    border-radius: 40px;
    place-content: center;
    display: grid;
    gap: 15px;
    transition: scale .4s ease,
        opacity .4s ease-in-out;

    @starting-style{
        scale: 0;
    }

    .editPrompts{
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;

        input{
            min-width: 16rem;
            width: 100%;
            padding-inline: 15px;
            padding-block: 5px;
            border-radius: 1cap;
            border: .5px solid #0000005d;
            margin-bottom: 14px;
        }

        #closeEditorProduct{
            border-radius: 20px;
            border: none;
            height: 2rem;
            cursor: pointer;
            outline: 1px solid #eee;
            background-color: var(--bgButtonColor);
            transition: background-color .1s ease-in-out,
                outline .2s linear,
                box-shadow .2s ease-in-out,
                translate .2s ease-in-out;
            box-shadow: var(--boxShColor) 2px 3px 1px;

            &:hover{
                background-color: var(--bgHoverColor);
                box-shadow: var(--boxShColor) 2px 3px 3px;
                outline: 2px solid var(--bgButtonColor);
            }

            &:active{
                box-shadow: var(--boxShColor) 2px 3px 10px;
                translate: 2px 3px;
            }
        }
    }
}


dialog{
    transition: scale .3s ease-in-out,
        display .3s allow-discrete;
    scale: 0;
    height: 35dvh;
    width: 35dvh;
    border: none;
    border-radius: 40px;
    place-content: center;
    display: grid;
    gap: 15px;

    .editPrompts{
        margin: 0;
        display: grid;
        justify-content: center;
        align-items: center;

        input{
            padding-inline: 15px;
            padding-block: 3px;
            border-radius: 1cap;
            border: .5px solid #0000005d;
            margin-bottom: 14px;
        }

        #closeEditorProduct{
            border-radius: 20px;
            border: none;
            height: 2rem;
            cursor: pointer;
            outline: 1px solid #eeeeee;
            transition: background-color .2s ease-in-out, outline .2s linear;

            &:is(:hover, :focus){
                background-color: #cecece;
                outline: 2px solid #a7a7a7;
            }
        }
    }
}

::backdrop{
    background-color: #14141477;
    backdrop-filter: blur(5px);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance:textfield; 
    appearance: textfield;
}

